<!-- <ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ pageTitle }}</ion-title>
    <ion-buttons slot="end">
      <ion-button routerLink="/notifications">
        <ion-icon slot="icon-only" name="notifications"></ion-icon>
        <ion-badge *ngIf="unreadNotificationsCount > 0" color="danger">{{ unreadNotificationsCount }}</ion-badge>
      </ion-button>
      <ion-button routerLink="/search">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button routerLink="/profile">
        <ion-avatar>
          <img src="assets/profile.jpg" alt="User Profile">
        </ion-avatar>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header> -->
