<ion-app>
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <!-- Main Content with Navbar -->
  <app-navbar></app-navbar>

  <!-- Content -->
  <!-- <app-main-content></app-main-content> -->

  <!-- Main Content -->
  <ion-content id="main-content">
    <!-- Navbar -->

    <!-- Main Router Outlet -->
    <ion-router-outlet></ion-router-outlet>

    <!-- Floating Action Button (FAB) -->
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button (click)="onFabClick()">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <!-- Tabs -->
    <app-tabs></app-tabs>
  </ion-content>
</ion-app>
